<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Webプログラミング課題メニュー</title>
</head>
<body>
    <h1>課題アプリケーション一覧</h1>
    <p>以下のリンクから各システムへ移動できます。</p>
    <ul>
        <li><a href="/shogi">1. 将棋戦績アプリ</a></li>
        <li><a href="/timecard">2. タイムカードアプリ</a></li>
        <li><a href="/wordbook">3. 単語帳アプリ</a></li>
    </ul>
    
    <hr>
    

</body>
</html>